#about {
	p {
		margin-bottom: 1.688em;
		a {
			text-decoration: underline;
		}
	}
	> [class*="row"],
	> [class*="col"] p {
		max-width: 54.75em;
	}
	figure {
		max-width: 22em;
		margin-left: .75em;
		figcaption {
			@include smallFont;
		}
	}
	li {
		text-align: center;
		@include bigFont;
		margin: 0 3.5%;
	}
}