body {
	.wrapper {
		background: $white;
		[class*="ss-"] {
			margin: 0 .5em 0 0;
		}
		> section {
			max-width: 86em;
		}
	}
}

.border-bottom {
	border-bottom: 1px solid $light-grey;
	margin-bottom: .25em;
	padding-bottom: .125em;
}