//COLORS
$black : rgb(0,0,0);
$white : rgb(255,255,255);
$grey : rgb(127,127,127);
$dark-grey : darken($grey, 25%);
$light-grey : lighten($grey, 25%);

$burgundy : rgb(162,72,45);
$sand : rgb(241,222,180);
$toast : rgb(183,149,78);
$moss : rgb(116,104,66);
$blue : rgb(72,133,190);
$red : rgb(130, 0, 10);
