#work {
	[id*="work-"] {
		float: left;
		display: inline-block;
		width: 98%;
		margin: .625em auto;
	}
	dt {
		float: left;
		display: inline-block;
		margin-right: 0.79em;
	}
	dd {
		font-weight: 300;
	}
	.work-thumbnails {
		max-width: 60em;
		.ios {
			width: 30%;
			max-width: 8.375em;
		}
	}
}