/*
Syntax error: Undefined variable: "$light-grey".
        on line 2 of sass/resume.scss

1: #resume {
2: 	background: lighten($light-grey, 5%);
3: 	header,
4: 	article {
5: 		@include padding;
6: 		h1, h2, h3, li {
7: 			@include fontSize;

Backtrace:
sass/resume.scss:2
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/script/variable.rb:49:in `_perform'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/script/node.rb:40:in `perform'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/script/funcall.rb:76:in `block in _perform'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/script/funcall.rb:76:in `map'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/script/funcall.rb:76:in `_perform'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/script/node.rb:40:in `perform'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:216:in `visit_prop'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/tree/root_node.rb:20:in `render'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/engine.rb:299:in `_render'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/engine.rb:246:in `render'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:332:in `update_stylesheet'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:201:in `each'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:263:in `block (3 levels) in watch'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/listener.rb:57:in `[]'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/listener.rb:57:in `block in run_events'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/listener.rb:57:in `each'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/listener.rb:57:in `run_events'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/listener.rb:37:in `block (3 levels) in start!'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/listener.rb:36:in `each'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/listener.rb:36:in `block (2 levels) in start!'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/listener.rb:35:in `each'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/lib/sass/plugin/listener.rb:35:in `block in start!'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/Chase/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.16/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$light-grey\".\A         on line 2 of sass/resume.scss\A \A 1: #resume {\A 2: 	background: lighten($light-grey, 5%);\A 3: 	header,\A 4: 	article {\A 5: 		@include padding;\A 6: 		h1, h2, h3, li {\A 7: 			@include fontSize;"; }
